<footer>
  <div class="flex align-items-center">
    <a href="https://www.facebook.com/Ciesielczyk-Wyr%C3%B3b-Obuwia-107147637560254/" target="_blank">
      <img class="fb-logo" title="Facebook" width="25" height="25" src="/assets/img/fb-logo.svg">
    </a>
    <small>Copyright © 2021 Ciesielczyk Obuwie</small>
  </div>
  <img class="pfr" title="Przedsiębiorca uzyskał subwencję finansową w ramach programu rządowego 'Tarcza Finansowa 2.0 Polskieg Funduszu Rozwoju dla Mikro, Małych i Średnich Firm', udzieloną przez PFR SA." src="/assets/img/pfr_poziom.png">
</footer>
