---
layout: compress
---

{% assign navurl = page.url | remove: 'index.html' %}
<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="pl">

  {% include head.html %}
  
  <body class="body-home">
    
    <main>
      
      <section class="home-content">
        <img title="Ciesielczyk" src="/assets/img/logo1024.png">
      </section>
      <nav class="home-nav">
        {% include navigation.html navigation=site.data.navigation %}
      </nav>

    </main>

    {% include footer.html %}

  </body>

</html>
